<!DOCTYPE html>
<html>
  <head>
    <title>4/2 ハママパスタ会</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <style>
      html, body {
        height: 100%;
      }
      .menu-container {
        height: 100%;
        width: 100%;
        background-color: transparent; /* 背景色を透明にする */
      }
      main {
        margin-top: 0; /* main要素の上マージンを0にする */
        margin-bottom: 0;
      }
      body {
        display: flex;
        flex-direction: column;
      }
       header {
        background-color: black; /* header要素の背景色を黒色にする */
        color: white; /* header要素の文字色を白色にする */
        text-align: center;
       }
      footer {
        background-color: black; /* header要素の背景色を黒色にする */
        color: white; /* header要素の文字色を白色にする */
        text-align: center;
      }
    </style>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  </head>

 <body>
    <header>
  </header>

  <main>
      <%= yield %>
    </main>

    <footer>
     <%= link_to 'Admin Page', admin_path, class: 'btn btn-primary btn-admin' %>
      <p>&copy; <%= Time.now.year %> Hama Pasta Party. All rights reserved.</p>
    </footer>
 </body>
</html>


